<configuration debug="false">

    <!--STDOUT-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>[ %-5level] [%logger{0}] %msg%n</pattern>
        </encoder>
    </appender>

    <!--Root logger-->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>